<div id="sheltercontainer">
	<div class="row no-gutters justify-content-center">
		<div class="col-12 col-sm-11 col-md-10 col-lg-7" style="min-width: 70%">
			{% for shelter in shelters %}
			<details class="shelterListEntry">

				<summary class="shelterSummary">


					<span class="shelterTitle ">
						<div class="container-fluid">
							<div class="row">
								<div class="col" style="padding-right:0px; padding-left:0px;">
									{{ shelter.name }} {% if shelter.restrictions is defined %}
									<i title="Has Restrictions" class="fas fa-exclamation-triangle warningColor shelterWarningIcon"></i>
									{% endif %}
								</div>

								<div class="colalign-self-center" style="padding-right:0px; padding-left:5px; text-align:end">
									<span class="shelterOccupancy" style="font-size:15px; font-weight:normal; align-self:center">{{ shelter.bedsFree }}</span>
								</div>
							</div>
						</div>
					</span>

				</summary>


				<div class="container-fluid">
					<div class="row">

						{% block name scoped %}{% endblock %}
						{%- comment -%}
							{% if shelter.imageURL is defined %}
							<div class="col">
								<div class="infobox">
								<img src="{{ shelter.imageURL }}" />
								</div>
							</div>
							{% endif %}
						{%- endcomment -%}
						<div class="col" style="margin-bottom: 10px">
							<div class="infobox">
								<h5>Address:</h5>
								<p>{{ shelter.streetAddress }},
									<br> {{ shelter.city }}, {{ shelter.state }} {{ shelter.zipcode }}
								</p>
								<a href="{{ shelter.mapURL }}" target="_blank">View shelter on Google Maps</a>
							</div>
						</div>
						{%- comment -%} {% if shelter.donationURL is defined %}
						<div class="col">
							<div class="infobox">
								<a href="{{ shelter.donationURL }}">
									<h5>Donate to this Shelter</h5>
								</a>
							</div>
						</div>
						{% endif %} {%- endcomment -%}
						<div class="col" style="margin-bottom: 10px">
							<div class="infobox">
								<h5>Contact Information:</h5>
								{% if shelter.phoneNumber is defined %}
								<!-- It might be better to make these inline styles instead of block styles-->

								<p>Phone Number: {{ shelter.phoneNumber }}</p>
								{% endif %}
								{% if shelter.emailAddress is defined %}
								<p>Email: {{ shelter.emailAddress }}</p>
								{% endif %}
								{% if shelter.websiteURL is defined %}
								<a href="{{ shelter.websiteURL }}">Website</a>
								{% endif %}

							</div>
						</div>
						<div class="col" style="margin-bottom: 10px">
							<div class="infobox">
								<h5>Occupancy:</h5>
								<p>{{ shelter.capacity-shelter.bedsFree }} / {{ shelter.capacity }} Spaces filled</p>
							</div>
						</div>
						{% if shelter.amenities is defined %}
						<div class="col" style="margin-bottom: 10px">
							<div class="infobox">
								<h5>Amenities:</h5>
								<ul>
									{% for amenity in shelter.amenities %}
										<li>{{ amenity }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% endif %} {% if shelter.restrictions is defined %}
						<div class="col" style="margin-bottom: 10px">
							<div class="infobox">
								<h5>Restrictions:</h5>
								<ul>
									{% for restriction in shelter.restrictions %}
										<li>{{ restriction }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% endif %}
						<!--<div class="col"
								<div class="infobox">
									this is generated based on address
								</div>
							</div>
							-->
					</div>
				</div>
				{% block editform scoped %}{% endblock %}
			</details>
			{% endfor %} {% block newform %}{% endblock %}
		</div>
	</div>
</div>